$text_color_light_grey: #C3C3CA;
$black_font_color: #24243B;
$color_white: #ffffff;
$color_white_075: rgba(225,225,225, 0.75);
$color_white_060: rgba(225,225,225, 0.60);
$background_light_grey: rgba(36, 36, 59, 0.06);
$background_grey: #F2F2F3;
$input_background_color: #24243B0F;
$medium_grey_text_color: #6E6E7D;
$panion_default_blue: #2C58F6;
